<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.airbytedemo/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.airbytedemo.view.user/UserListView.title"/>
        <item view="Source.list" title="msg://com.company.airbytedemo.view.source/sourceListView.title"/>
        <item view="Destination.list" title="msg://com.company.airbytedemo.view.destination/destinationListView.title"/>
        <item view="DestinationTest.list"
              title="msg://com.company.airbytedemo.view.destinationtest/destinationTestListView.title"/>
    </menu>

</menu-config>